.navbar{
    position:relative;
    top:-120px;
}
.menu-icon{
    margin-right: 15px;
}
#menu-toggle{
    border: none;
    background-color: white;
}
.menu-line{
    height: 28px;
    width: 1px;
    background-color: rgb(194, 193, 193);
    margin-right: 5px;
}
.assine{
    position:relative;
    top: 111px;
}
.assineimg{
    transition:linear 0.3s;
    opacity: 0;
    width: 0px;
    position:relative;
    top:105px;
    margin-top: 0px;
    pointer-events: none;
}
.assinehover:hover .assineimg{
    opacity: 1;
}
.assinehover{
    position:relative;
}


#genio {
    position: relative;
    display: flex;
    color: transparent;
    text-decoration: none;
    font-size: 50px;
    background: linear-gradient(to right, #F25C05, rgb(255, 174, 0), #F24607, rgb(255, 174, 0), #D91414);
    background-clip: text;
    background-size: 500% 100%;
    -webkit-background-clip: text;
    animation:degrade-animado 5s infinite alternate paused;
    top:-310px;
    left:750px;
  }

  #genio:hover{
    animation-play-state: running;
  }

  @keyframes degrade-animado {
    0% {
      background-position-x:0%;
    }
    100% {
      background-position-x: 100%;
    }
  }